{% extends 'base.html' %}
{% block head %}
<style>
    .container{
        margin:auto;
    }
    .title-box{
        background-color: gold;
    }
    .info-box{
        background-color: whitesmoke;
        display: flex;
    }
    .delbtn{
        margin-top: 14px;

    }
    .filebox{
        display: flex;
    }
    .fileread{
        min-width: 350px;

    }
</style>
<script>
    function like(){
        alert("로그인 후에 '좋아요'를 누를 수 있습니다.")
    }
</script>
{% endblock %}
{% block content %}
    <div class="container col-lg-7 mt-5 rounded-lg">
        <div class="title-box mb-3">
            <div class="text-center shadow p-2">
                <div>
                    <h1>{{ doc.title }}</h1>
                </div>
            </div>
        </div>
        <div class="info-box col-log-12 mb-3 shadow-sm p-1 mb-5 bg-light rounded">
            <div class="row col-lg-3">
                <label><b>작성자</b></label>
                <div>
                    <span><b>{{ doc.writer }}</b></span>
                </div>
            </div>
             <div class="row col-lg-3">
                <label><b>조회수</b></label>
                <div>
                    <span><b>{{ doc.view_cnt }}</b></span>
                </div>
            </div>
            <div class="row col-lg-3">
                <label><b>게시일</b></label>
                <div>
                    <span><b>{{ doc.pubdate }}</b></span>
                </div>
                {% if doc.uptdate %}
                <div>
                    <span><b>{{ doc.uptdate }}</b></span>
                </div>
                {% endif %}
            </div>
            <div class="row col-lg-3" id="likey-box">

                <div>
                    {% if session['id'] in doc.likey %}
                        <label><b>좋아요 취소</b></label>
                        <a href="/unlikey/{{doc.id}}/{{ page }}"+><button>😢</button></a><span><b>{{ doc.likey|length }}</b></span>
                    {% else %}
                        {% if session['id'] %}
                            <label><b>좋아요</b></label>
                            <a href="/likey/{{doc.id}}/{{ page }}"+><button id="likey-btn">❤</button></a><span><b>{{ doc.likey|length }}</b></span>
                        {% else %}
                            <label><b>좋아요</b></label>
                            <button onclick="like()" >❤</button></a><span><b>{{ doc.likey|length }}</b></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content-box col-lg-12 mb-3">
            <span><b>맛집 코멘트</b></span>
            <div class="board-body col-lg-12 shadow p-2 mb-5 bg-body rounded">
                {{ doc.comment }}
            </div>
            <span><b>본문</b></span>
            <div class="board-body col-lg-12 shadow p-3 mb-5 bg-body rounded">
                <!--<textarea id="contents" name="contents">-->{% autoescape false %}{{ doc.content }}{% endautoescape %}<!--</textarea>-->
            </div>

            <div class="input-group mt-3 mb-3">
                {% for n in doc.file %}
                <form action = "/filedown" method = "POST" enctype = "multipart/form-data" class="filebox">
                    <input type = "text" name = "file" value="{{ n }}" class="form-control fileread" readonly/>
                    <input type = "submit" value="파일받기" class="btn btn-outline-dark downbutton"/>
                </form>
                {% endfor %}
            </div>
            {% if doc.map['address'] %}
            <span><b>지도</b></span>
            <div id="map" style="width:100%;height:350px;"></div>
            {% endif %}
<!--            <div id="disqus_thread"></div>-->
<!--            <script>-->
<!--                /**-->
<!--                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
<!--                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */-->

<!--                var disqus_config = function () {-->
<!--                this.page.url = 'http://sparta-restaurant.shop';  // Replace PAGE_URL with your page's canonical URL variable-->
<!--                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
<!--                };-->

<!--                (function () { // DON'T EDIT BELOW THIS LINE-->
<!--                    var d = document, s = d.createElement('script');-->
<!--                    s.src = 'https://review-hpinx5silk.disqus.com/embed.js';-->
<!--                    s.setAttribute('data-timestamp', +new Date());-->
<!--                    (d.head || d.body).appendChild(s);-->
<!--                })();-->
<!--            </script>-->
<!--            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by-->
<!--                Disqus.</a></noscript>-->

            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	34dc520af852051eb432527a823c37c0&libraries=services"></script>
            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 주소로 좌표를 검색합니다

            geocoder.addressSearch('{{ doc.map["address"] }}', function(result, status) {

                // 정상적으로 검색이 완료됐으면
                 if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:170px;text-align:center;padding:6px 0;white-space: nowrap;overflow: auto;"><b>{{ doc.map['place'] }}</b><br>' +
                            '<span style="font-size: 12px">{{ doc.map['address'] }}</span><br><a href="{{ doc.map['url'] }}">상세정보</a></div>'
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                }
            });
            </script>

            <div class="text-end btns">
                <a href="{{ url_for('index', page=page) }}"><button type="button" class="btn btn-outline-dark mt-3 text-end">돌아가기</button></a>
                {% if session['id'] == doc.writer %}
                <a href="{{ url_for('update', idx=doc.id, page=page) }}"><button type="button" class="btn btn-outline-dark mt-3 text-end">글수정</button></a>
                <button type="button" class="btn btn-outline-danger delbtn" data-bs-toggle="modal" data-bs-target="#a">
                    글삭제
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>정말로 삭제하시겠습니까?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete', idx=doc.id, name=doc.writer) }}"><button class="btn btn-danger" style="font-weight: bold;">글삭제</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
