{% extends 'base.html' %}
{% block head %}
<style>
    .container{
        margin:auto;
    }
    .title-box{
        background-color: gold;
    }
    .info-box{
        background-color: whitesmoke;
        display: flex;
    }
    .delbtn{
        margin-top: 14px;

    }
    .filebox{
        display: flex;
    }
    .fileread{
        min-width: 350px;

    }
    .map-fail-text{
        font-size: 12px;
        color: dimgray;
    }
    .reply-box{
        display: flex;
    }
    .editing{
        font-size: 16px;
        color:dimgray;
    }
    .editing-box{
        display: flex;
        border-bottom: 4px dashed ;
    }
    .updateDt{
        font-size: 12px;
        color:dimgray;
    }
     .likey-btn {
            border-style: hidden;
            background-color: transparent;
    }
     .unliky_btn {
        border-style: hidden;
        background-color: transparent;
    }
</style>
<script>
    function like(){
        alert("로그인 후에 '좋아요'를 누를 수 있습니다.")
    }
    function loginReply(){
        let id=$('#replyId').val()
        let pw=$('#replyPassword').val()
        $.ajax({
            type:"POST",
            url:"/loginReply",
            data:{id:id, pw:pw},
            success:function (response){
                console.log(response['msg'])
                window.location.reload();
            }
        })
    }
    function addReply(){
        let con=$('#reply-text').val()
        $.ajax({
            type:"POST",
            url:"/addReply/{{ doc.id }}/{{ page }}",
            data:{con:con},
            success:function (response){
                alert(response['msg'])
                window.location.reload();
            }
        })
    }

    // $(document).ready(function(){
    //     $('#replyEdit').onclick(function ())
    // })
    function replyEdit(context,rid){
        alert('\'수정\'은 댓글 맨 위 칸에서 수정 가능합니다.')
        let replyId=rid
        let cont=context
        let html_temp=`
                        <span class="editing"><b>수정 내용을 입력하세요!</b></span>
                        <div class="form-inline mb-2">
                            <span><b>{{ session['id'] }}</b></span>
                        </div>
                       <div class="editing-box">
                             <div class="col-lg-10">
                                <textarea class="form-control" id="replyEditText" rows="3">${cont}</textarea>
                            </div>
                            <div class="col-lg-2" id="edit-box">
                                <button onclick="javascript:replyEditSave('${replyId}')" type="button"  id="replyEdit">완료</button>
                                <a href="/detail/{{ doc.id }}/{{ page }}"><button id="replyDel">취소</button></a>
                            </div>
                        </div>
                      `
        $('#replyEdit-box').html(html_temp)

    }

    function replyEditSave(rid){
        let ridInfo = rid
        let con = $('#replyEditText').val()
        $.ajax({
            type:"POST",
            url:"/editReply",
            data:{con:con, rid:ridInfo},
            success: function(response){
                alert(response['msg'])
                window.location.reload()
            }

        })

    }


</script>
{% endblock %}
{% block content %}

    <div class="container col-lg-7 mt-5 rounded-lg">
        <div class="title-box mb-3">
            <div class="text-center shadow p-2">
                <div>
                    <span><h6>[{{ doc.category }}]</h6>
                        <h1>{{ doc.title }}</h1></span>
                </div>
            </div>
        </div>
        <div class="info-box col-log-12 mb-3 shadow-sm p-1 mb-5 bg-light rounded">
            <div class="row col-lg-3">
                <label><b>작성자</b></label>
                <div>
                    <span><b>{{ doc.writer }}</b></span>
                </div>
            </div>
             <div class="row col-lg-3">
                <label><b>조회수</b></label>
                <div>
                    <span><b>{{ doc.view_cnt }}</b></span>
                </div>
            </div>
            <div class="row col-lg-3">
                <label><b>게시일</b></label>
                <div>
                    <span><b>{{ doc.pubdate }}</b></span>
                </div>
                {% if doc.uptdate %}
                <div>
                    <span><b>{{ doc.uptdate }}</b></span>
                </div>
                {% endif %}
            </div>
            <div class="row col-lg-3" id="likey-box">

                <div>
                    {% if session['id'] in doc.likey %}
                        <label><b>좋아요 취소</b></label>
                        <a href="/unlikey/{{doc.id}}/{{ page }}">
                            <button class="unliky_btn">😢</button>
                        </a>
                        <span><b>{{ doc.likey|length }}</b></span>
                    {% else %}
                        {% if session['id'] %}
                            <label><b>좋아요</b></label>
                            <a href="/likey/{{doc.id}}/{{ page }}">
                                <button class="likey-btn">💖</button>
                            </a>
                            <span><b>{{ doc.likey|length }}</b></span>
                        {% else %}
                            <label><b>좋아요</b></label>
                            <button onclick="like()" >💖</button></a><span><b>{{ doc.likey|length }}</b></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content-box col-lg-12 mb-3">
            <span><b>맛집 코멘트</b></span>
            <div class="board-body col-lg-12 shadow p-2 mb-5 bg-body rounded">
                {{ doc.comment }}
            </div>
            <span><b>본문</b></span>
            <div class="board-body col-lg-12 shadow p-3 mb-5 bg-body rounded">
                <!--<textarea id="contents" name="contents">-->{% autoescape false %}{{ doc.content }}{% endautoescape %}<!--</textarea>-->
            </div>

            <div class="input-group mt-3 mb-3">
                {% for n in doc.file %}
                <form action = "/filedown" method = "POST" enctype = "multipart/form-data" class="filebox">
                    <input type = "text" name = "file" value="{{ n }}" class="form-control fileread" readonly/>
                    <input type = "submit" value="파일받기" class="btn btn-outline-dark downbutton"/>
                </form>
                {% endfor %}
            </div>
            {% if doc.map['address'] %}
            <span><b>지도</b></span>
            <p class="map-fail-text">👀지도가 잘 나오지 않는다면 입력하신 주소가 '{{ doc.map["address"] }}'이(가) 맞는지 확인해주세요! </p>
            <div id="map" style="width:100%;height:350px;"></div>
            {% endif %}

            <div class="card mb-2">
                <div class="card-header bg-light">
                        <i class="fa fa-comment fa"></i> 댓글
                </div>
                <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {% if session['id'] %}
                                <div class="form-inline mb-2">
                                    <label for="replyId"><i class="fa fa-user-circle-o fa-2x">작성자</i></label>
                                    <input type="text" class="form-control ml-2" value="{{ session['id'] }}" id="replyId-logged" readonly>
                                </div>
                                <textarea class="form-control" id="reply-text" rows="3" placeholder="댓글입력" required></textarea>
                                <button type="button" class="btn btn-dark mt-3" onclick="javascript:addReply();">댓글 게시</button>
                                <hr>
                                {% else %}
                                <span>로그인 후 댓글을 남길 수 있습니다.</span>
                                <div class="form-inline mb-2">
                                    <label for="replyId"><i class="fa fa-user-circle-o fa-2x"></i></label>
                                    <input type="text" class="form-control ml-2" placeholder="아이디를 입력하세요" name="replyId" id="replyId">
                                    <label for="replyPassword" class="ml-4"><i class="fa fa-unlock-alt fa-2x"></i></label>
                                    <input type="password" class="form-control ml-2" placeholder="비밀번호를 입력하세요" name="replyPassword" id="replyPassword">
                                </div>
                                <button type="button" class="btn btn-dark mt-3" onclick="javascript:loginReply();">로그인</button>
                                <hr>
                                {% endif %}
                                 <div id="replyEdit-box"></div>
                                <div id="reply-box">
                                  {% if replies %}
                                    {% for i in replies %}
                                    <div class="form-inline mb-2">
                                        <span><b>{{ i.writer }}</b></span>
                                    </div>
                                    <div id="reply-box2" class="reply-box">
                                        <div class="col-lg-10">
                                            <textarea class="form-control" id="replyText" rows="3" disabled>{% autoescape false %}{{ i.context }}{% endautoescape %}</textarea>
                                        </div>
                                        {% if session['id'] == i.writer %}
                                        <div class="col-lg-2" id="edit-box">
                                            <button onclick="javascript:replyEdit('{% autoescape false %}{{ i.context }}{% endautoescape %}','{{ i._id }}');" type="button"  id="replyEdit">수정</button>
                                            <a href="/deleteReply/{{ i._id }}/{{ doc.id }}/{{ page }}"><button id="replyDel">삭제</button></a><br>
                                            <span class="text-end">{{ i.pubdate }}</span><br>
                                            {% if i.updateDt %}
                                                  <span class="text-end updateDt">수정: {{ i.updateDt }}</span>
                                            {% endif %}

                                        </div>
                                        {% else %}
                                         <div class="col-lg-2" id="edit-box2">
                                            <span class="text-end">{{ i.pubdate }}</span><br>
                                            {% if i.updateDt %}
                                                  <span class="text-end updateDt">수정: {{ i.updateDt }}</span>
                                            {% endif %}

                                        </div>
                                        {% endif %}

                                    </div>
                                    <hr>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=34dc520af852051eb432527a823c37c0&libraries=services"></script>
            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 주소로 좌표를 검색합니다

            geocoder.addressSearch('{{ doc.map["address"] }}', function(result, status) {

                // 정상적으로 검색이 완료됐으면
                 if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:170px;text-align:center;padding:6px 0;white-space: nowrap;overflow: auto;"><b>{{ doc.map['place'] }}</b><br>' +
                            '<span style="font-size: 12px">{{ doc.map['address'] }}</span><br><a href="{{ doc.map['url'] }}" target="_blank">상세정보</a></div>'
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                }
            });
            </script>

            <div class="text-end btns">
                <a href="{{ url_for('index', page=page) }}"><button type="button" class="btn btn-outline-dark mt-3 text-end">돌아가기</button></a>
                {% if session['id'] == doc.writer %}
                <a href="{{ url_for('update', idx=doc.id, page=page) }}"><button type="button" class="btn btn-outline-dark mt-3 text-end">글수정</button></a>
                <button type="button" class="btn btn-outline-danger delbtn" data-bs-toggle="modal" data-bs-target="#a">
                    글삭제
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>정말로 삭제하시겠습니까?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete', idx=doc.id, page=page) }}"><button class="btn btn-danger" style="font-weight: bold;">글삭제</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}